# --- SÉCURITÉ ---
# Fichier contenant les secrets (Hôte, Tokens, etc.)
.env
.env.local
.env.*.local

# --- DÉPENDANCES ---
# On ne versionne pas les 200 Mo de modules installés
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- DIVERS ---
# Fichiers système et logs
.DS_Store
dist/
build/
logs
*.logsrc/test-*.js
